.container {
    padding-top: 3%;
}

.form {
  margin: 0 auto;
  width: 380px;
  padding: 2%;
  border: 1px solid #CCC;
  border-radius: 1em;
}

.error {
  color: red;
}

.input {
  width: 100%;
  height: 50%;
  padding: 0;
}

.button {
    border: none;
    border-radius: 5%;
    background-color: dodgerblue;
    color: white;
    height: 3em;
    width: 100%;
}
/* @media (max-width:819px) {
  .form {
    width: 380px;
  }
} */
